@use "../abstracts/mixins/mixins" as mixins;
@use "../abstracts/variables/variables" as variables;
@use "../abstracts/function/function" as functions;

.c-footer {
  width: 100%;
  background-color: variables.$dark;
  padding: functions.rem(30px) functions.rem(20px);
  border-top-left-radius: functions.rem(45px);
  border-top-right-radius: functions.rem(45px);
  position: absolute;
  left: 0;

  @include mixins.device(d) {
    padding: functions.rem(50px) functions.rem(60px);
    position: static;
  }
  ul {
    list-style: none;
  }
  a {
    color: variables.$white;
    text-decoration: underline 1px variables.$white;
  }
}

.c-footer__nav {
  width: 100%;
  @include mixins.flex(center, center, column);
  gap: functions.rem(37px);
  margin-bottom: functions.rem(37px);

  @include mixins.device(d) {
    @include mixins.flex(space-between, center, row);
    margin-bottom: functions.rem(66px);
  }

  ul {
    gap: functions.rem(16px);
    @include mixins.flex(center, center, column);

    @include mixins.device(d) {
      @include mixins.flex(flex-start, center, row);
      gap: functions.rem(40px);
    }
  }

  div {
    @include mixins.flex(center, center, row);
    gap: functions.rem(20px);
  }
}

.c-footer__inlineContact {
  width: 100%;
  @include mixins.flex(center, center, column);
  padding-bottom: functions.rem(50px);

  @include mixins.device(d) {
    @include mixins.flex(space-between, flex-start, row);
  }

  .c-footer__Title {
    max-width: functions.rem(332px);
    width: 100%;
    @include mixins.flex(center, center, column);

    @include mixins.device(d) {
      @include mixins.flex(flex-start, flex-start, column);
    }

    h4 {
      width: functions.rem(170px);
      background-color: variables.$green;
      text-align: center;
      border-radius: functions.rem(7px);
      margin-bottom: functions.rem(27px);
    }

    ul {
      @include mixins.flex(center, center, column);
      gap: functions.rem(20px);
      text-align: center;
      margin-bottom: functions.rem(37px);

      @include mixins.device(d) {
        @include mixins.flex(flex-start, flex-start, column);
        margin: 0;
        text-align: left;
      }

      li {
        color: variables.$white;
        font-size: variables.$pMobile;
      }
    }
  }

  .c-footer__newsLetter {
    max-width: 634px;
    width: 100%;
    padding: functions.rem(30px);
    background-color: variables.$newsLetter;

    @include mixins.flex(center, center, column);
    gap: functions.rem(22px);
    border-radius: functions.rem(14px);

    @include mixins.device(d) {
      padding: functions.rem(58px) functions.rem(40px);
      @include mixins.flex(center, center, row);
    }

    input {
      width: 100%;
      height: functions.rem(66px);
      background-color: transparent;
      border: 1px solid variables.$white;
      border-radius: functions.rem(14px);
      padding-left: functions.rem(25px);
      font-size: variables.$pMobile;
      color: variables.$white;
      transition: all;
      outline: none;

      &:hover,
      &:focus {
        border: 2px solid variables.$green;
      }
      &::placeholder {
        color: variables.$white;
      }
    }

    button {
      width: 100%;
      height: functions.rem(68px);
      background-color: variables.$green;
    }
  }
}

.c-footer__copy {
  width: 100%;
  padding-top: functions.rem(50px);
  border-top: 1px solid variables.$white;
  @include mixins.flex(center, center, column);
  gap: functions.rem(16px);

  @include mixins.device(d) {
    @include mixins.flex(flex-start, center, row);
    gap: functions.rem(40px);
  }

  span {
    color: variables.$white;
    font-size: variables.$white;
  }
}
