@use "../abstracts/mixins/mixins" as mixins;
@use "../abstracts/function/function" as functions;

.c-layout {
  width: 100%;
  display: block;
  margin: 0 auto;
  @include mixins.padding(30px, 20px, 0px, 20px);

  @media screen and (min-width: 1366px) {
    max-width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1665px;
  }

  @include mixins.device(d) {
    @include mixins.padding(60px, 100px, 0px, 100px);
  }
}
